# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm / JetBrains
# =========================
.idea/

# =========================
# Python Cache (if using Python scripts)
# =========================
__pycache__/
*.pyc


# =========================
# virtual env
# =========================
./celebal_env

# =========================
# Folders
# =========================
DOCS/
Guides/


# =========================
# Original Files
# =========================
Data_for_assignments/